body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #27272D;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: white; /* corrected typo */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

th:first-child,
td:first-child {
  width: 5%;
}

.admin-dash-container {
width: 100%;
display: flex;
overflow: auto;
min-height: 100vh;
align-items: center;
flex-direction: column;
}
.admin-dash-container1 {
width: 1380px;
height: 1068px;
}
.admin-dash-container2 {
display: contents;
}