body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #27272D; /* Background color */
}

.container {
  max-width: 600px;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fef8f8; /* Text color on the form */
}

form {
  display: grid;
  gap: 25px;
}

label {
  font-weight: bold;
  color: #fef8f8;
}

select,
input[type="datetime-local"],
textarea,
input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #27272D;
  position: absolute; /* Added position relative */
  
}

.dashboard-image {
  width: 0px;
  height: 0px;
  
}

.dashboard-container1 {
  width: 700px;
  height: 300px;
  left: 700px;
  bottom: 450px;
  position: absolute;
}

.dashboard-container2 {
  display: contents;
  
}

.dashboard-image1 {
  left: 80px; /* Adjust the left position as needed */
  bottom: 50px; /* Adjust the bottom position as needed */
  width: 407px;
  height: 395px;
  position: absolute;
  background-color: transparent; /* Set background color to transparent */
}


@media(max-width: 767px) {
  .dashboard-image1 {
      width: 100%;
  }
}