.dashboard-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #27272D;
}
.dashboard-image {
  width: 0px;
  height: 0px;
  object-fit: cover;
}
.dashboard-container1 {
  width: 1380px;
  height: 1004px;
}
.dashboard-container2 {
  display: contents;
}
.dashboard-image1 {
  left: 107px;
  width: 407px;
  bottom: 0px;
  height: 395px;
  position: absolute;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-radius8);
  border-bottom-left-radius: var(--dl-radius-radius-radius8);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
@media(max-width: 767px) {
  .dashboard-image1 {
    width: 100%;
  }
}
